<div class="container"    >
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-gradient " style="padding:10px 20px; margin-top:10px; ">-->
<!--    <a class="navbar-brand" href="#" style="margin-right: 5%;">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#" >Home </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--&lt;!&ndash;        <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;            Dropdown&ndash;&gt;-->
<!--&lt;!&ndash;          </a>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link " href="#">Season</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--&lt;!&ndash;      <form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </form>&ndash;&gt;-->
<!--    </div>-->
<!--  </nav>-->

  <div class="first-page"   >
       <div class="review">
         <h1>Review: Four Seasons India</h1>
         <div class="social-media">
           <a href="" ><i class="fa fa-facebook"></i></a>
           <a href="" ><i class="fa fa-twitter"></i></a>
           <a href="" ><i class="fa fa-instagram"></i></a>
           <a href="" ><i class="fa fa-linkedin"></i></a>

  </div>
</div>
  </div>
  <div class="seasons">
    <div class="row ">
      <div class="col-3 details"><h1>Winter In India Best Mountain view</h1></div>
      <div class="col-3 details"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut incidunt labore perferendis rem tempore tenetur velit voluptates! A, alias cupiditate deserunt distinctio dolor laboriosam minima nemo pariatur repudiandae rerum tenetur!</p>
      </div><div class="col details " ><img src="https://flyingcdn-e81424e1.b-cdn.net/wp-content/uploads/2020/02/mountain3.jpg" alt="">
    </div>
    </div>


  </div>

</div>
